@for (menu of menus; track menu.for) {
    <mat-menu #menuRef="matMenu">
        @for (element of menu.menu; track element.id) {
            @switch (element.type) {
                @case (ToolBarElementType.BUTTON) {
                    @if (!element.shortcutOnly) {
                        <button mat-menu-item
                                class="menu-button"
                                [matMenuTriggerFor]="getMenu(element.id)"
                                (click)="onElementClick(element)">
                            @if (element.icon != "") {
                                <mat-icon>{{ element.icon }}</mat-icon>
                            }
                            <div class="menu-button-text">
                                <span class="hint">{{ element.hint }}</span>
                                <span class="shortcut">
                                    @if (element.shortcut) {
                                        @if (element.shortcut.alt) {
                                            {{ MODIFIER_DISPLAY[Modifier.ALT] }}
                                        }
                                        @if (element.shortcut.shift) {
                                            {{ MODIFIER_DISPLAY[Modifier.SHIFT] }}
                                        }
                                        @if (element.shortcut.osModifier) {
                                            {{ MODIFIER_DISPLAY[Modifier.OS] }}
                                        }
                                        {{ KEY_DISPLAY[element.shortcut.codes[0] ?? ""] ?? element.shortcut.codes[0] ?? "" }}
                                    }
                                </span>
                            </div>
                        </button>
                    }
                }
                @case (ToolBarElementType.DIVIDER) {
                    <mat-divider></mat-divider>
                }
            }
        }
    </mat-menu>
    <ng-container
        [menuRegister]="{ id: menu.for, menu: menuRef }">
    </ng-container>
}
@for (element of _elements; track element.id) {
    @switch (element.type) {
        @case (ToolBarElementType.BUTTON) {
            @if (!element.shortcutOnly) {
                @if (element.loading) {
                    <mat-spinner
                        style="margin: 8px"
                        [diameter]="24">

                    </mat-spinner>
                } @else {
                    <button
                        mat-icon-button
                        matTooltipPosition="above"
                        [matTooltip]="getButtonTooltip(element)"
                        [matTooltipShowDelay]="TOOLTIP_TIMEOUT"
                        [matMenuTriggerFor]="getMenu(element.id)"
                        (click)="onElementClick(element)">
                        <mat-icon
                            aria-hidden="false"
                            [matBadge]="element.badge == false ? null : (element.badge == true ? 1 : element.badge)"
                            [matBadgeSize]="element.badge == true ? 'small' : 'large'">{{ element.icon }}
                        </mat-icon>
                    </button>
                }
            }
        }
        @case (ToolBarElementType.DIVIDER) {
            <div class="divider"></div>
        }
        @case (ToolBarElementType.SPACER) {
            <div class="spacer"></div>
        }
        @case (ToolBarElementType.TITLE) {
            <div class="title">{{ typeof element.text == 'function' ? element.text() : element.text }}</div>
        }
    }
}
