@use "dimensions";
@use "colors";
@use "@angular/material" as mat;

:host {
    height: 50px;
    align-self: stretch;
    display: flex;
    padding: dimensions.$margin-mlarge dimensions.$margin-xlarge;
    gap: dimensions.$margin-mlarge;
    align-items: center;

    @include mat.badge-overrides((
        background-color: var(--mat-sys-primary)
    ));
}

.divider {
    width: 1px;
    background: colors.$border-color;
    margin: dimensions.$margin-large dimensions.$margin-msmall;
    box-sizing: border-box;
    align-self: stretch;
}

.spacer {
    flex-grow: 1;
}

.title {
    font-weight: 200;
    font-size: 1.2rem;
}
