<span
    class="group-name"
    matTooltipPosition="above"
    [matTooltipShowDelay]="TOOLTIP_TIMEOUT"
    [matTooltip]="`Codename: ${group.name}`">
    {{ group.displayName }}
</span>
@if (isGroupEmpty(group)) {
    <span class="group-empty">This group is empty.<br>You can add subgroups or devices on the top right</span>
} @else {
    @if (group.groups.length > 0) {
        <span class="section-name">Subgroups</span>
        <div class="subgroups">
            @for (subgroupName of group.groups; track subgroupName) {
                @let subgroup = getOtherGroup(subgroupName);
                @if (subgroup != null) {
                    <house-mix-group
                        [group]="subgroup"
                        [otherGroups]="otherGroups"
                        [actuators]="actuators"
                        [selected]="selected"
                        (onSelect)="this.onSelectEmitter.emit($event)">
                    </house-mix-group>
                } @else {
                    <span class="simple-subgroup">{{subgroupName}}</span>
                }
            }
        </div>
    }
    @if (group.actuators.length > 0) {
        <span class="section-name">Actuators</span>
        <div class="group-content">
            @for (actuatorName of group.actuators; track actuatorName) {
                @let actuator = getActuator(actuatorName);
                @if (actuator != null) {
                    <house-mix-device
                        [device]="actuator"
                        [selected]="selected == actuator"
                        (onSelect)="this.onSelectEmitter.emit($event)">

                    </house-mix-device>
                } @else {
                    <span class="simple-subgroup">{{actuatorName}}</span>
                }
            }
        </div>
    }
    @if (group.sensors.length > 0) {
        <span class="section-name">Sensors</span>
        <div class="group-content">
            @for (sensorName of group.sensors; track sensorName) {
                @let sensor = getSensor(sensorName);
                @if (sensor != null) {
                    <house-mix-device
                        [device]="sensor"
                        [selected]="selected == sensor"
                        (onSelect)="this.onSelectEmitter.emit($event)">

                    </house-mix-device>
                } @else {
                    <span class="simple-subgroup">{{sensorName}}</span>
                }
            }
        </div>
    }
}
