@use "dimensions";
@use "colors";
@use "../../entity";

:host {

    @include entity.container;

    min-width: 250px;
    min-height: 50px;

}


.group-name {

    @include entity.name

}

.group-empty {
    padding: dimensions.$margin-large
}

.section-name {
    margin: dimensions.$margin-mlarge;
    font-size: 17px;
    font-weight: 100;
}

.subgroups,
.group-content {
    display: flex;
    gap: dimensions.$margin-large;
    margin: dimensions.$margin-medium;
    padding: dimensions.$margin-medium;
    flex-wrap: wrap;
}
