@use "dimensions";

:host {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main-title {
    font-size: 30px;
    font-weight: 300;
    margin: dimensions.$margin-xxlarge 0;
    display: flex;
    gap: dimensions.$indent-large;
    align-items: center;
    justify-content: center;

    span {
        flex-grow: 1;
        flex-basis: 0;
    }

    house-mix-dynamic-svg {
        --icon-accent-color: var(--mat-sys-primary);
        --icon-ink-color: var(--mat-sys-on-surface);
        width: 45px;
        height: 45px;
    }

}
