@use "dimensions";
@use "colors";

@mixin datum-type-circle {

    @include colors.datum-type-colors();

    width: 14px;
    height: 14px;
    border-radius: 20px;
    border: 2px solid var(--type-color, var(--mat-sys-on-background));
    transition: background-color 0.2s;

    &.small {
        width: 10px;
        height: 10px;
    }

    &.selected {
        background: var(--type-color, var(--mat-sys-on-background));
    }

}
