<h2 mat-dialog-title>{{ title }}</h2>
<mat-dialog-content
    house-mix-input-return-behavior
    (on-stop)="confirm()">
    <house-mix-entity-names-inputs
        [horizontal]="data.entityType != EntityType.GROUP"
        [originalName]="data.edit?.name ?? null"
        [originalDisplayName]="data.edit?.displayName ?? null"
        [forbiddenNames]="data.forbiddenNames"
        [nameHint]="nameInputHint"
        [displayNameHint]="displayNameInputHint">
    </house-mix-entity-names-inputs>
    @if (data.entityType != EntityType.GROUP) {
        <div class="device-info-container">
            <mat-form-field>
                <mat-label>Zigbee IEEE address</mat-label>
                <input
                    matInput
                    placeholder="0123456789abcdef"
                    [style.font-family]="'monospace'"
                    [formControl]="zigbeeAddressFormControl">
                <mat-hint>The device's zigbee address</mat-hint>
                @if (zigbeeAddressFormControl.hasError('required')) {
                    <mat-error>An address is required</mat-error>
                } @else if (zigbeeAddressFormControl.invalid) {
                    <mat-error>The address is a 64-bit hex</mat-error>
                }
            </mat-form-field>
            @if (data.entityType == EntityType.ACTUATOR) {
                <mat-form-field>
                    <mat-label>Actuator type</mat-label>
                    <mat-select
                        [formControl]="actuatorTypeFormControl">
                        @if (actuatorTypeFormControl.value != null) {
                            <mat-select-trigger>
                                <div class="device-type-container">
                                    <house-mix-dynamic-svg
                                        class="device-type-icon trigger"
                                        [class.selected]="true"
                                        [src]="`/devices/actuators/icons/${ACTUATOR_TYPE_ICON[actuatorTypeFormControl.value]}`">
                                    </house-mix-dynamic-svg>
                                    <span>{{ ACTUATOR_TYPE_DISPLAY[actuatorTypeFormControl.value] }}</span>
                                </div>
                            </mat-select-trigger>
                        }
                        @for (type of Object.values(ActuatorType); track type) {
                            @if (type != ActuatorType.UNKNOWN) {
                                <mat-option [value]="type">
                                    <div class="device-type-container">
                                        <house-mix-dynamic-svg
                                            class="device-type-icon"
                                            [class.selected]="actuatorTypeFormControl.value == type"
                                            [src]="`/devices/actuators/icons/${ACTUATOR_TYPE_ICON[type]}`">
                                        </house-mix-dynamic-svg>
                                        <span>{{ ACTUATOR_TYPE_DISPLAY[type] }}</span>
                                    </div>
                                </mat-option>
                            }
                        }
                    </mat-select>
                    @if (actuatorTypeFormControl.hasError('required')) {
                        <mat-error>
                            The actuator type is required
                        </mat-error>
                    }
                </mat-form-field>
            }
            @if (data.entityType == EntityType.SENSOR) {
                <mat-form-field>
                    <mat-label>Sensor type</mat-label>
                    <mat-select
                        [formControl]="sensorTypeFormControl">
                        @if (sensorTypeFormControl.value != null) {
                            <mat-select-trigger>
                                <div class="device-type-container">
                                    <house-mix-dynamic-svg
                                        class="device-type-icon trigger"
                                        [class.selected]="true"
                                        [src]="`/devices/sensors/icons/${SENSOR_TYPE_ICON[sensorTypeFormControl.value]}`">
                                    </house-mix-dynamic-svg>
                                    <span>{{ SENSOR_TYPE_DISPLAY[sensorTypeFormControl.value] }}</span>
                                </div>
                            </mat-select-trigger>
                        }
                        @for (type of Object.values(SensorType); track type) {
                            @if (type != SensorType.UNKNOWN) {
                                <mat-option [value]="type">
                                    <div class="device-type-container">
                                        <house-mix-dynamic-svg
                                            class="device-type-icon"
                                            [class.selected]="sensorTypeFormControl.value == type"
                                            [src]="`/devices/sensors/icons/${SENSOR_TYPE_ICON[type]}`">
                                        </house-mix-dynamic-svg>

                                        <span>{{ SENSOR_TYPE_DISPLAY[type] }}</span>
                                    </div>
                                </mat-option>
                            }
                        }
                    </mat-select>
                    @if (sensorTypeFormControl.hasError('required')) {
                        <mat-error>
                            The sensor type is required
                        </mat-error>
                    }
                </mat-form-field>
            }
        </div>
        <div class="exposes-properties-header">
            <p>{{ data.entityType == EntityType.ACTUATOR ? 'Actuator properties' : 'Sensor properties' }}</p>
            <button
                mat-icon-button
                (click)="addExposes()">
                <mat-icon>add</mat-icon>
            </button>
            <button
                mat-icon-button
                [matMenuTriggerFor]="data.entityType == EntityType.ACTUATOR ? actuatorDataLibrary : sensorDataLibrary">
                <mat-icon>newsstand</mat-icon>
            </button>
        </div>
        <div class="exposes-properties">
            @if (data.edit == null || data.entityType == EntityType.ACTUATOR || lockedExposedLoadingStatus == LoadingStatus.LOADED) {
                @if (deviceExposes.length == 0) {
                    <span class="no-data">No property has been defined</span>
                } @else {
                    @for (datum of deviceExposes; track datum.name) {
                        <div class="datum">
                            <mat-icon class="datum-null-icon">{{ datum.nullable ? 'question_mark' : '' }}</mat-icon>
                            <span class="datum-name">{{ datum.name }}</span>
                            <span class="datum-type">{{ DATUM_TIME_DISPLAY[datum.type] }}</span>
                            <svg width="0" height="0">
                                <defs>
                                    <mask id="round-mask">
                                        <rect x="0" y="0" width="24" height="24" fill="white"/>
                                        <circle cx="22" cy="2" r="11" fill="black"/>
                                    </mask>
                                </defs>
                            </svg>

                            <button
                                mat-icon-button
                                (click)="removeDeviceExposes(datum)">
                                @if (exposeHasError(datum)) {
                                    <mat-icon class="delete-button-holed">delete</mat-icon>
                                    <mat-icon class="delete-button-warning">warning</mat-icon>
                                } @else {
                                    <mat-icon>delete</mat-icon>
                                }
                            </button>
                        </div>
                        @if (errorDatum == datum) {
                            <div class="datum-error">
                                <div class="message">Cannot remove the property. These mixes depend on it:</div>
                                @for (dependency of errorDatumDependencies; track $index) {
                                    <div class="dependency">
                                        <mat-icon>close</mat-icon>
                                        @switch (dependency.phase) {
                                            @case (MixPhase.SENSORS) {
                                                @if (dependency.target == MixTarget.DEVICE) {
                                                    Mix for sensor <i>{{ dependency.sensorDisplayName }}</i>
                                                } @else {
                                                    Sensor-side mix for group <i>{{ dependency.groupDisplayName }}</i>
                                                }
                                            }
                                            @case (MixPhase.CENTER) {
                                                Central mix <i>{{ dependency.mixDisplayName }}</i>
                                            }
                                            @case (MixPhase.ACTUATORS) {
                                                @if (dependency.target == MixTarget.DEVICE) {
                                                    Mix for actuator <i>{{ dependency.actuatorDisplayName }}</i>
                                                } @else {
                                                    Actuator-side mix for group <i>{{ dependency.groupDisplayName }}</i>
                                                }
                                            }
                                        }
                                    </div>
                                }
                            </div>
                        }

                    }
                }
            } @else {
                <house-mix-loading-scrim
                    [loadingStatus]="lockedExposedLoadingStatus"
                    errorText="Cannot retrieve exposed properties">

                </house-mix-loading-scrim>
            }
        </div>
    }
    @if (data.edit == null) {
        @if (data.groupNames.length > 0) {
            @switch (data.entityType) {
                @case (EntityType.GROUP) {
                    <p>Select a location in which to put the new group</p>
                }
                @case (EntityType.ACTUATOR) {
                    <p>Select a location in which to put the new actuator</p>
                }
                @case (EntityType.SENSOR) {
                    <p>Select a location in which to put the new sensor</p>
                }
            }
            <house-mix-entity-location-input
                [defaultGroup]="data.sonOfGroup"
                [groups]="groups">

            </house-mix-entity-location-input>
        }
    }

</mat-dialog-content>
<mat-dialog-actions>
    <button
        mat-button
            (click)="closeDialog()">
        Cancel
    </button>
    <button
        mat-button
        (click)="confirm()"
        [disabled]="confirmDisabled">
        {{ data.edit == null ? 'Create' : 'Edit' }}
    </button>
</mat-dialog-actions>
<mat-menu
    #actuatorDataLibrary="matMenu"
    xPosition="before">
    @for (datum of ACTUATOR_PROPERTIES_LIBRARY; track datum.display) {
        <button
            mat-menu-item
            (click)="deviceExposesFromLibrary = datum.data">{{ datum.display }}
        </button>
    }
</mat-menu>
<mat-menu
    #sensorDataLibrary="matMenu"
    xPosition="before">
    @for (datum of SENSOR_PROPERTIES_LIBRARY; track datum.display) {
        <button
            mat-menu-item
            (click)="deviceExposesFromLibrary = datum.data">{{ datum.display }}
        </button>
    }
</mat-menu>
