@use "dimensions";

house-mix-entity-names-inputs {
    margin-bottom: dimensions.$indent-medium;
    min-width: 300px;
}

house-mix-entity-location-input {
    min-width: 300px;
}

.device-info-container {
    display: flex;
    gap: dimensions.$margin-medium;
}

.device-type-container {
    display: flex;
    gap: dimensions.$margin-mlarge;
    align-items: center;


    .device-type-icon {
        width: 35px;
        height: 35px;

        --highlight-color: var(--house-mix-text-color-60);

        --icon-highlight:  var(--mat-sys-secondary);

        &.trigger {
            --icon-highlight: var(--mat-sys-primary);
            width: 20px;
            height: 20px;
        }

        &.selected {
            --highlight-color: var(--icon-highlight);
        }
    }

    > span {
        flex-basis: 0;
    }

}

.exposes-properties-header {
    display: flex;
    gap: dimensions.$margin-medium;
    p {
        flex-grow: 1;
    }
}

.exposes-properties {
    display: flex;
    flex-direction: column;
    gap: dimensions.$margin-medium;
    overflow-y: auto;
    max-height: 200px;
    padding: dimensions.$margin-medium;
    position: relative;
    min-height: 50px;

    .no-data {
        text-align: center;
        align-self: center;
        opacity: 0.7;
    }

    .datum {
        display:  flex;
        gap: dimensions.$margin-medium;
        align-items: center;

        .datum-name {
            flex-grow: 1;
        }

        .datum-null-icon {
            font-size: 16px;
            width: 16px;
            height: 16px;
        }
    }
}

.delete-button-warning {
    color: var(--mat-sys-error);
    position: absolute;
    font-size: 16px;
    right: 2px;
    top: 2px;
    width: 16px;
    height: 16px;
}

.delete-button-holed {
    mask: url(#round-mask);
    color: var(--house-mix-text-color-30);
}

.datum-error {
    display: flex;
    flex-direction: column;
    gap: dimensions.$margin-msmall;
    align-items: stretch;
    padding: dimensions.$margin-small dimensions.$indent-mlarge dimensions.$margin-msmall;

    .dependency {
        padding: 0 dimensions.$margin-mlarge;
        display: flex;
        align-items: center;
        gap: dimensions.$margin-msmall;
        font-weight: 100;

        mat-icon {
            font-size: 16px;
            width: 16px;
            height: 16px;
            color: var(--mat-sys-error)
        }
    }
}
