<!--suppress ALL -->
<house-mix-toolbar
    [elements]="toolbarElements"
    (elementSelected)="toolbarClick(asToolbarAction($event))">

</house-mix-toolbar>
@switch (loadingStatus) {
    @case (LoadingStatus.LOADING) {
        <div
            class="welcome-content">
            <house-mix-dynamic-svg
                class="icon"
                [src]="randomIcon">
            </house-mix-dynamic-svg>
            <h2>Loading...</h2>
            <h3>Your groups and devices are loading, please wait</h3>
            <mat-spinner
                strokeWidth="4"
                diameter="70"></mat-spinner>
        </div>
    }
    @case (LoadingStatus.ERROR) {
        <div class="error-container">
            <house-mix-dynamic-svg
                class="icon"
                src="broken.svg">
            </house-mix-dynamic-svg>
            <h2>There's a problem...</h2>
            <h3>
                Sorry, there has been an error loading this mix.
                <span class="break"></span>
                Please try again later or go back.
            </h3>
            <button
                class="error-button"
                mat-button
                (click)="reload()">
                Try again
            </button>
        </div>
    }
    @case (LoadingStatus.LOADED) {
        <div
            class="main-content-scroll">
            @if (graph != null) {
                @if (!isGraphEmpty) {
                    <div
                        class="main-content"
                        (click)="selectedElement = null">
                        <svg
                            class="connections-background">
                            <defs>
                                @for (link of orderedLinks; track link.linkId; let linkIndex = $index) {
                                    <clipPath [id]="`connector-clip-${linkIndex}`">
                                        <rect
                                            width="100%"
                                            [attr.height]="MEASURES.UNDERPASS_BORDER_WIDTH"
                                            [attr.x]="0"
                                            [attr.y]="link.line.from.y">
                                        </rect>
                                        <rect
                                            width="100%"
                                            [attr.height]="MEASURES.UNDERPASS_BORDER_WIDTH"
                                            [attr.x]="0"
                                            [attr.y]="link.line.to.y - MEASURES.UNDERPASS_BORDER_WIDTH">
                                        </rect>
                                    </clipPath>
                                }
                            </defs>
                            <mask id="around-mask" mask-type="luminance">
                                <rect
                                    fill="white"
                                    width="100%"
                                    height="100%"
                                    x="0"
                                    y="0">
                                </rect>
                                @for (footprint of elementFootprints; track $index) {
                                    <rect
                                        fill="black"
                                        [attr.width]="footprint.to.x - footprint.from.x"
                                        [attr.height]="footprint.to.y - footprint.from.y"
                                        [attr.rx]="MEASURES.UNDERPASS_BORDER_WIDTH"
                                        [attr.x]="footprint.from.x"
                                        [attr.y]="footprint.from.y">
                                    </rect>
                                }
                            </mask>
                            <g>
                                @for (link of orderedLinks; track link.linkId; let linkIndex = $index) {
                                    @let path = graphConnectionSmoothPath(link.line.from, link.line.to, false);
                                    <g class="link-group-opacity"
                                       [class.selected]="link.selected || link.selectedPhase">
                                        <g class="link-group"
                                           [class.selected]="link.selected || link.selectedPhase">
                                            <circle
                                                class="connector"
                                                [class.selected]="link.selectedStart"
                                                [class.selected-light]="link.selected"
                                                [class.selected-phase]="link.selectedPhaseStart"
                                                [class.selected-phase-light]="link.selectedPhase"
                                                [attr.cx]="link.line.from.x"
                                                [attr.cy]="link.line.from.y">
                                            </circle>
                                            <circle
                                                class="connector"
                                                [class.selected]="link.selectedEnd"
                                                [class.selected-light]="link.selected"
                                                [class.selected-phase]="link.selectedPhaseEnd"
                                                [class.selected-phase-light]="link.selectedPhase"
                                                [attr.cx]="link.line.to.x"
                                                [attr.cy]="link.line.to.y">
                                            </circle>
                                        </g>
                                        <g
                                            class="link-group"
                                            [attr.clip-path]="`url(#connector-clip-${linkIndex})`"
                                            [class.selected]="link.selected || link.selectedPhase">
                                            <path
                                                class="connection"
                                                [class.selected]="link.selected"
                                                [class.selected-phase]="link.selectedPhase"
                                                [attr.d]="path + 'h5h-10'">
                                            </path>
                                        </g>
                                        <g
                                            class="link-group"
                                            mask="url(#around-mask)"
                                            [class.selected]="link.selected || link.selectedPhase">
                                            <path
                                                class="connection"
                                                [class.selected]="link.selected"
                                                [class.selected-phase]="link.selectedPhase"
                                                [attr.d]="path + 'h5h-10'">
                                            </path>
                                        </g>
                                    </g>
                                }
                            </g>
                        </svg>
                        @if (graph.origins.length > 0) {
                            <div class="section">
                                <div
                                    class="row-icon"
                                    [class.selected]="selectedPhase == MixGraphPhase.INPUTS"
                                    (click)="selectedPhase = MixGraphPhase.INPUTS; $event.stopPropagation()">
                                    <house-mix-dynamic-svg
                                        matTooltip="Inputs from the system"
                                        matTooltipPosition="above"
                                        [matTooltipShowDelay]="TOOLTIP_TIMEOUT"
                                        src="/mixing/system.svg">
                                    </house-mix-dynamic-svg>
                                </div>
                                <div class="row-group">
                                    <div
                                        #originRow
                                        class="origin-row spread-row"
                                        resizeEvent
                                        [class.scrolling]="originScrollStatus"
                                        (scroll)="graph && recalculateConnections(graph)"
                                        (onResize)="graph && recalculateConnections(graph)"
                                        (onHorizontalScrollbarChange)="originScrollStatus = $event; graph && recalculateConnections(graph)">
                                        <div
                                            class="scroll-arrow"
                                            [class.scrolling]="originScrollStatus"
                                            (click)="rowScroll(originRow, true); $event.stopPropagation()">
                                            <button
                                                mat-icon-button>
                                                <mat-icon>chevron_left</mat-icon>
                                            </button>
                                        </div>
                                        <div
                                            class="scroll-arrow right"
                                            [class.scrolling]="originScrollStatus"
                                            (click)="rowScroll(originRow, false); $event.stopPropagation()">
                                            <button
                                                mat-icon-button>
                                                <mat-icon>chevron_right</mat-icon>
                                            </button>
                                        </div>
                                        @for (origin of ORIGIN_DISPLAYED_TOP; track origin) {
                                            @if (graph.origins.includes(origin)) {
                                                <div class="node"
                                                     [class.selected]="selectedElement == origin || isElementInPhase(origin, this.selectedPhase)"
                                                     [class.selected-node]="selectedElement == origin"
                                                     [class.selected-phase]="isElementInPhase(origin, this.selectedPhase)"
                                                     [origin-element]="origin"
                                                     (click)="selectedElement = origin; $event.stopPropagation()">
                                                    <span class="name">{{ DATUM_ORIGIN_DISPLAY[origin] }}</span>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        }


                        <div class="section">
                            <div
                                class="row-icon"
                                [class.selected]="selectedPhase == MixGraphPhase.SENSORS"
                                (click)="selectedPhase = MixGraphPhase.SENSORS; $event.stopPropagation()">
                                <house-mix-dynamic-svg
                                    matTooltip="Mixed sensors"
                                    matTooltipPosition="above"
                                    [matTooltipShowDelay]="TOOLTIP_TIMEOUT"
                                    src="/devices/sensors/sensor.svg">
                                </house-mix-dynamic-svg>
                            </div>
                            <div class="row-group">
                                @if (graph.sensors.length > 0) {
                                    <div #sensorRow
                                         class="sensor-row spread-row"
                                         resizeEvent
                                         [class.scrolling]="sensorScrollStatus"
                                         (scroll)="graph && recalculateConnections(graph)"
                                         (onResize)="graph && recalculateConnections(graph)"
                                         (onHorizontalScrollbarChange)="sensorScrollStatus = $event; graph && recalculateConnections(graph)">
                                        <div
                                            class="scroll-arrow"
                                            [class.scrolling]="sensorScrollStatus"
                                            (click)="rowScroll(sensorRow, true); $event.stopPropagation()">
                                            <button
                                                mat-icon-button>
                                                <mat-icon>chevron_left</mat-icon>
                                            </button>
                                        </div>
                                        <div
                                            class="scroll-arrow right"
                                            [class.scrolling]="sensorScrollStatus"
                                            (click)="rowScroll(sensorRow, false); $event.stopPropagation()">
                                            <button
                                                mat-icon-button>
                                                <mat-icon>chevron_right</mat-icon>
                                            </button>
                                        </div>
                                        @for (sensor of graph.sensors; track sensor.name) {
                                            <div class="node"
                                                 [class.selected]="selectedElement == sensor || isElementInPhase(sensor, this.selectedPhase)"
                                                 [class.selected-node]="selectedElement == sensor"
                                                 [class.selected-phase]="isElementInPhase(sensor, this.selectedPhase)"
                                                 [style.order]="orders.get(sensor) ?? 0"
                                                 [attr.data-sensor-pos]="$index"
                                                 [sensor-element]="sensor"
                                                 (dblclick)="openMix(sensor.mix)"
                                                 (click)="selectedElement = sensor; $event.stopPropagation()">
                                                <house-mix-dynamic-svg
                                                    [src]="`/devices/sensors/icons/${SENSOR_TYPE_ICON[sensor.type]}`">
                                                </house-mix-dynamic-svg>
                                                <span class="name">{{ sensor.displayName }}</span>
                                            </div>
                                        }
                                    </div>
                                } @else {
                                    <div
                                        class="sensor-row spread-row">
                                        <button mat-button (click)="addMix(MixGraphPhase.SENSORS)">
                                            <mat-icon>add</mat-icon>
                                            Create a mix for a sensor
                                        </button>
                                    </div>
                                }
                            </div>
                        </div>


                        <div class="section">
                            <div
                                class="row-icon"
                                [class.selected]="selectedPhase == MixGraphPhase.SENSOR_GROUPS"
                                (click)="selectedPhase = MixGraphPhase.SENSOR_GROUPS; $event.stopPropagation()">
                                <house-mix-dynamic-svg
                                    matTooltip="Groups mixed on the sensor side"
                                    matTooltipPosition="above"
                                    [matTooltipShowDelay]="TOOLTIP_TIMEOUT"
                                    src="/mixing/group.svg">
                                </house-mix-dynamic-svg>
                            </div>
                            <div class="row-group">
                                @if (sensorGroupsLevels.length > 0) {
                                    @for (level of sensorGroupsLevels; track $index; ) {
                                        <div #sensorGroupRow
                                             class="sensor-group-row spread-row"
                                             resizeEvent
                                             [class.scrolling]="sensorGroupScrollStatuses.get(level)"
                                             (scroll)="graph && recalculateConnections(graph)"
                                             (onResize)="graph && recalculateConnections(graph)"
                                             (onHorizontalScrollbarChange)="sensorGroupScrollStatuses.set(level, $event); graph && recalculateConnections(graph)">
                                            <div
                                                class="scroll-arrow"
                                                [class.scrolling]="sensorGroupScrollStatuses.get(level)"
                                                (click)="rowScroll(sensorGroupRow, true); $event.stopPropagation()">
                                                <button
                                                    mat-icon-button>
                                                    <mat-icon>chevron_left</mat-icon>
                                                </button>
                                            </div>
                                            <div
                                                class="scroll-arrow right"
                                                [class.scrolling]="sensorGroupScrollStatuses.get(level)"
                                                (click)="rowScroll(sensorGroupRow, false); $event.stopPropagation()">
                                                <button
                                                    mat-icon-button>
                                                    <mat-icon>chevron_right</mat-icon>
                                                </button>
                                            </div>
                                            @for (group of level; track group.name) {
                                                <div class="node"
                                                     [class.selected]="selectedElement == group || isElementInPhase(group, this.selectedPhase)"
                                                     [class.selected-node]="selectedElement == group"
                                                     [class.selected-phase]="isElementInPhase(group, this.selectedPhase)"
                                                     [style.order]="orders.get(group) ?? 0"
                                                     [group-element]="group"
                                                     [group-element-sensor]="true"
                                                     (dblclick)="openMix(group.mix)"
                                                     (click)="selectedElement = group; $event.stopPropagation()">
                                                    <house-mix-dynamic-svg
                                                        [src]="`/mixing/group.svg`">
                                                    </house-mix-dynamic-svg>
                                                    <span class="name">{{ group.displayName }}</span>
                                                </div>
                                            }
                                        </div>
                                    }
                                } @else {
                                    <div
                                        class="sensor-group-row spread-row">
                                        <button mat-button (click)="addMix(MixGraphPhase.SENSOR_GROUPS)">
                                            <mat-icon>add</mat-icon>
                                            Create a mix for a group in the sensor phase
                                        </button>
                                    </div>
                                }
                            </div>
                        </div>


                        <div class="section">
                            <div
                                class="row-icon"
                                [class.selected]="selectedPhase == MixGraphPhase.CENTER"
                                (click)="selectedPhase = MixGraphPhase.CENTER; $event.stopPropagation()">
                                <house-mix-dynamic-svg
                                    matTooltip="Mixing at the center"
                                    matTooltipPosition="above"
                                    [matTooltipShowDelay]="TOOLTIP_TIMEOUT"
                                    src="/mixing/center.svg">
                                </house-mix-dynamic-svg>
                            </div>
                            <div class="row-group">
                                @if (graph.centers.length > 0) {
                                    <div #centerRow
                                         class="center-row spread-row"
                                         resizeEvent
                                         [class.scrolling]="centerScrollStatus"
                                         (scroll)="graph && recalculateConnections(graph)"
                                         (onResize)="graph && recalculateConnections(graph)"
                                         (onHorizontalScrollbarChange)="centerScrollStatus = $event; graph && recalculateConnections(graph)">
                                        <div
                                            class="scroll-arrow"
                                            [class.scrolling]="centerScrollStatus"
                                            (click)="rowScroll(centerRow, true); $event.stopPropagation()">
                                            <button
                                                mat-icon-button>
                                                <mat-icon>chevron_left</mat-icon>
                                            </button>
                                        </div>
                                        <div
                                            class="scroll-arrow right"
                                            [class.scrolling]="centerScrollStatus"
                                            (click)="rowScroll(centerRow, false); $event.stopPropagation()">
                                            <button
                                                mat-icon-button>
                                                <mat-icon>chevron_right</mat-icon>
                                            </button>
                                        </div>
                                        @for (center of graph.centers; track center.name) {
                                            <div class="node"
                                                 [class.selected]="selectedElement == center || isElementInPhase(center, this.selectedPhase)"
                                                 [class.selected-node]="selectedElement == center"
                                                 [class.selected-phase]="isElementInPhase(center, this.selectedPhase)"
                                                 [style.order]="orders.get(center) ?? 0"
                                                 [attr.data-sensor-pos]="$index"
                                                 [center-element]="center"
                                                 (dblclick)="openMix(center.mix)"
                                                 (click)="selectedElement = center; $event.stopPropagation()">
                                                <house-mix-dynamic-svg
                                                    src="/mixing/center.svg">
                                                </house-mix-dynamic-svg>
                                                <span class="name">{{ center.displayName }}</span>
                                            </div>
                                        }
                                    </div>
                                } @else {
                                    <div
                                        class="center-row spread-row">
                                        <button mat-button (click)="addMix(MixGraphPhase.CENTER)">
                                            <mat-icon>add</mat-icon>
                                            Create a mix at the center
                                        </button>
                                    </div>
                                }
                            </div>
                        </div>


                        <div class="section">
                            <div
                                class="row-icon"
                                [class.selected]="selectedPhase == MixGraphPhase.ACTUATOR_GROUPS"
                                (click)="selectedPhase = MixGraphPhase.ACTUATOR_GROUPS; $event.stopPropagation()">
                                <house-mix-dynamic-svg
                                    matTooltip="Groups mixed on the actuator side"
                                    matTooltipPosition="above"
                                    [matTooltipShowDelay]="TOOLTIP_TIMEOUT"
                                    src="/mixing/group.svg">
                                </house-mix-dynamic-svg>
                            </div>
                            <div class="row-group">
                                @if (actuatorGroupsLevels.length > 0) {
                                    @for (level of actuatorGroupsLevels; track $index; ) {
                                        <div #actuatorGroupRow
                                             class="actuator-group-row spread-row"
                                             resizeEvent
                                             [class.scrolling]="actuatorGroupScrollStatuses.get(level)"
                                             (scroll)="graph && recalculateConnections(graph)"
                                             (onResize)="graph && recalculateConnections(graph)"
                                             (onHorizontalScrollbarChange)="actuatorGroupScrollStatuses.set(level, $event); graph && recalculateConnections(graph)">
                                            <div
                                                class="scroll-arrow"
                                                [class.scrolling]="actuatorGroupScrollStatuses.get(level)"
                                                (click)="rowScroll(actuatorGroupRow, true); $event.stopPropagation()">
                                                <button
                                                    mat-icon-button>
                                                    <mat-icon>chevron_left</mat-icon>
                                                </button>
                                            </div>
                                            <div
                                                class="scroll-arrow right"
                                                [class.scrolling]="actuatorGroupScrollStatuses.get(level)"
                                                (click)="rowScroll(actuatorGroupRow, false); $event.stopPropagation()">
                                                <button
                                                    mat-icon-button>
                                                    <mat-icon>chevron_right</mat-icon>
                                                </button>
                                            </div>
                                            @for (group of level; track group.name) {
                                                <div class="node"
                                                     [class.selected]="selectedElement == group || isElementInPhase(group, this.selectedPhase)"
                                                     [class.selected-node]="selectedElement == group"
                                                     [class.selected-phase]="isElementInPhase(group, this.selectedPhase)"
                                                     [style.order]="orders.get(group) ?? 0"
                                                     [group-element]="group"
                                                     [group-element-sensor]="false"
                                                     (dblclick)="openMix(group.mix)"
                                                     (click)="selectedElement = group; $event.stopPropagation()">
                                                    <house-mix-dynamic-svg
                                                        [src]="`/mixing/group.svg`">
                                                    </house-mix-dynamic-svg>
                                                    <span class="name">{{ group.displayName }}</span>
                                                </div>
                                            }
                                        </div>
                                    }
                                } @else {
                                    <div
                                        class="actuator-group-row spread-row">
                                        <button mat-button (click)="addMix(MixGraphPhase.ACTUATOR_GROUPS)">
                                            <mat-icon>add</mat-icon>
                                            Create a mix for a group in the actuator phase
                                        </button>
                                    </div>
                                }
                            </div>
                        </div>


                        <div class="section">
                            <div
                                class="row-icon"
                                [class.selected]="selectedPhase == MixGraphPhase.ACTUATORS"
                                (click)="selectedPhase = MixGraphPhase.ACTUATORS; $event.stopPropagation()">
                                <house-mix-dynamic-svg
                                    matTooltip="Mixed actuators"
                                    matTooltipPosition="above"
                                    [matTooltipShowDelay]="TOOLTIP_TIMEOUT"
                                    src="/devices/actuators/actuator.svg">
                                </house-mix-dynamic-svg>
                            </div>
                            <div class="row-group">
                                @if (this.graph.actuators.length > 0) {
                                    <div #actuatorRow
                                         class="actuator-row spread-row"
                                         resizeEvent
                                         [class.scrolling]="actuatorScrollStatus"
                                         (scroll)="graph && recalculateConnections(graph)"
                                         (onResize)="graph && recalculateConnections(graph)"
                                         (onHorizontalScrollbarChange)="actuatorScrollStatus = $event; graph && recalculateConnections(graph)">
                                        <div
                                            class="scroll-arrow"
                                            [class.scrolling]="actuatorScrollStatus"
                                            (click)="rowScroll(actuatorRow, true); $event.stopPropagation()">
                                            <button
                                                mat-icon-button>
                                                <mat-icon>chevron_left</mat-icon>
                                            </button>
                                        </div>
                                        <div
                                            class="scroll-arrow right"
                                            [class.scrolling]="actuatorScrollStatus"
                                            (click)="rowScroll(actuatorRow, false); $event.stopPropagation()">
                                            <button
                                                mat-icon-button>
                                                <mat-icon>chevron_right</mat-icon>
                                            </button>
                                        </div>
                                        @for (actuator of graph.actuators; track actuator.name) {
                                            <div class="node"
                                                 [class.selected]="selectedElement == actuator || isElementInPhase(actuator, this.selectedPhase)"
                                                 [class.selected-node]="selectedElement == actuator"
                                                 [class.selected-phase]="isElementInPhase(actuator, this.selectedPhase)"
                                                 [style.order]="orders.get(actuator) ?? 0"
                                                 [attr.data-actuator-pos]="$index"
                                                 [actuator-element]="actuator"
                                                 (dblclick)="openMix(actuator.mix)"
                                                 (click)="selectedElement = actuator; $event.stopPropagation()">
                                                <house-mix-dynamic-svg
                                                    [src]="`/devices/actuators/icons/${ACTUATOR_TYPE_ICON[actuator.type]}`">
                                                </house-mix-dynamic-svg>
                                                <span class="name">{{ actuator.displayName }}</span>
                                            </div>
                                        }
                                    </div>
                                } @else {
                                    <div
                                        class="actuator-row spread-row">
                                        <button mat-button (click)="addMix(MixGraphPhase.ACTUATORS)">
                                            <mat-icon>add</mat-icon>
                                            Create a mix for an actuator
                                        </button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                } @else {
                    <div
                        class="welcome-content">
                        <h2>Welcome!</h2>
                        <h3>In this section you can create a <span class="mix-link" (click)="showMeaning = !showMeaning">mix</span> to attach to a device or to the system.</h3>
                        <h3>At the moment, you don't have any <span class="mix-link" (click)="showMeaning = !showMeaning">mix</span> in the system</h3>
                        @if (showMeaning) {
                            <p>A mix is an elaboration that transforms some data in the system in another.
                                <br>It usually starts with data from sensor or the system, and transforms it through the groups towards the actuators.
                                <br>The outputs form the actuators then get sent to the actual device to change its state
                            </p>
                        }
                        <p>To start, make sure to have some device registered in the previous section. You can then create a new <span class="mix-link" (click)="showMeaning = !showMeaning">mix</span>:</p>
                        <button
                            matButton="filled"
                            (click)="toolbarClick(ToolbarAction.ADD)">
                            Create a new mix
                        </button>
                    </div>
                }
            }
        </div>
    }
}
