@use "../entities/entity";
@use "dimensions";
@use "colors";

:host {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    --house-mix-entity-animation-speed: 0.2s;
}

.main-content-scroll {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
}

.main-content {
    position: relative;
    flex-grow: 1;
}

.section {
    display: flex;
    align-items: stretch;

    > .row-icon {
        display: flex;
        align-items: center;

        padding: dimensions.$indent-msmall;
        gap: dimensions.$indent-msmall;
        --highlight-color: var(--house-mix-border-color);
        cursor: pointer;

        house-mix-dynamic-svg {
            display: block;
            width: 45px;
            height: 45px;
        }

        &::after {
            content: "";
            display: block;
            align-self: stretch;
            width: 2px;
            background: var(--house-mix-border-color);
            margin: 15px -2px 15px 0;
        }

        &.selected {
            --highlight-color: var(--mat-sys-primary);

            &::after {
                background: var(--mat-sys-primary);
                outline: solid 1px var(--mat-sys-primary);
            }

        }
    }

    .row-group {
        align-self: stretch;
        flex-grow: 1;
        max-width: calc(100% - 45px - 3 * #{dimensions.$indent-msmall});
    }

}

.spread-row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    @media (pointer: fine) {
        &.scrolling {
            padding: 0 calc(45px + 2 * #{dimensions.$indent-msmall});
        }
    }
}

.connections-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    clip-path: rect(0px 100% 100% calc(45px + 3 * #{dimensions.$indent-msmall}));
}

.scroll-arrow {

    position: absolute;
    left: calc(45px + 3 * #{dimensions.$indent-msmall});
    background: var(--house-mix-body-background);
    box-shadow: 0 0 6px 2px var(--house-mix-body-background);
    border-radius: 0 100px 100px 0;

    &.right {
        border-radius: 100px 0 0 100px;
        left: initial;
        right: 0;
    }

    padding: dimensions.$margin-large;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;

    @media (pointer: fine) {
        &.scrolling {
            opacity: 1;
            pointer-events: all;
        }
    }
}

.node {
    @include entity.container;

    &.selected-phase {
        --house-mix-entity-selected-color: var(--mat-sys-primary-container);
    }

    margin: 30px dimensions.$margin-large;
    padding: dimensions.$indent-medium;
    cursor: pointer;

    font-size: 18px;

    flex-direction: row;
    align-items: center;
    gap: dimensions.$margin-mlarge;

    --highlight-color: var(--house-mix-text-color-30);
    --stroke-color-animation-duration: var(--house-mix-entity-animation-speed, 0.2s);

    &.with-button .name {
        min-height: 40px;
        display: flex;
        align-items: center;
    }

    .name {
        max-width: 200px;
        text-align: center;
        white-space: nowrap
    }

    house-mix-dynamic-svg {
        width: 30px;
        height: 30px;
    }
}

.connection {
    stroke: white;
    fill: none;

    stroke-width: 1.5px;
    transition: stroke-width var(--house-mix-entity-animation-speed, 0.2s) ease-in-out, stroke var(--house-mix-entity-animation-speed, 0.2s) ease-in-out;

    &.selected {
        stroke-width: 3px;
        stroke: var(--mat-sys-primary);
    }

    &.selected-phase {
        stroke-width: 3px;
        stroke: var(--mat-sys-primary-container);
    }
}

.link-group-opacity {
    transition: opacity var(--house-mix-entity-animation-speed, 0.2s) ease-in-out;
    opacity: 0.2;

    &.selected {
        opacity: 1;
    }
}

.connector {
    fill: white;
    stroke: none;
    r: 4.5px;

    transition: fill var(--house-mix-entity-animation-speed, 0.2s) ease-in-out, r var(--house-mix-entity-animation-speed, 0.2s) ease-in-out;

    &.selected-phase-light {
        fill: var(--mat-sys-primary-container);
    }

    &.selected-phase {
        r: 6px;
    }

    &.selected-light {
        fill: var(--mat-sys-primary);
    }

    &.selected {
        r: 7.5px;
    }
}
