@use "dimensions";
@use "colors";
@use "full-page";

:host {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    @include colors.datum-type-colors();
}

@mixin unselected-style {
    fill: var(--house-mix-body-background);
    stroke: var(--house-mix-border-color);
    stroke-width: 1px;
    transition: fill .25s, stroke-width .25s, stroke .25s;
}

@mixin selected-style {
    stroke-width: 2.5px;
    stroke: var(--mat-sys-primary);
}

@mixin clickable-hover-style {
    stroke-width: 1.75px;
    stroke: var(--mat-sys-primary-container);
    fill: var(--mat-sys-surface-container-low);
}

@mixin clickable-active-style {
    stroke-width: 2.5px;
    stroke: var(--mat-sys-primary);
    fill: var(--mat-sys-surface-container);
}

.mix-canvas {
    flex-grow: 1;

    .output-group,
    .input-group {

        &.add-output,
        &.add-input {
            cursor: pointer;

            &:hover {
                .output-container,
                .input-container {
                    @include clickable-hover-style;
                }
            }

            &:active {
                .output-container,
                .input-container {
                    @include clickable-active-style;
                }
            }
        }

        .output-container,
        .input-container {
            @include unselected-style;
            cursor: pointer;
        }

        &.error {
            .output-container,
            .input-container {
                stroke: var(--mat-sys-error);
                stroke-width: 3px;
            }
        }

        &.restored {
            .output-container,
            .input-container {
                stroke: colors.$correct;
                stroke-width: 3px;
            }
        }

        &.selected {
            .output-container,
            .input-container {
                @include selected-style
            }


            &.error {
                .output-container,
                .input-container {
                    stroke: var(--mat-sys-error);
                    stroke-width: 6px;
                }
            }
            &.restored {
                .output-container,
                .input-container {
                    stroke: colors.$correct;
                    stroke-width: 6px;
                }
            }
        }


        .input-text-name,
        .add-input-text {
            fill: var(--mat-sys-on-background);
            font-size: 20px;
            text-anchor: end;
            dominant-baseline: middle;
            pointer-events: none;
        }

        .add-output-text {
            fill: var(--mat-sys-on-background);
            font-size: 20px;
            text-anchor: start;
            dominant-baseline: middle;
        }

        .input-text-origin-name {
            fill: var(--mat-sys-surface-tint);
            font-size: 17px;
            font-weight: 200;
            text-anchor: end;
            dominant-baseline: middle;
            pointer-events: none;
        }

        .input-text-origin {
            fill: var(--mat-sys-surface-tint);
            font-size: 15px;
            font-weight: 100;
            text-anchor: end;
            dominant-baseline: middle;
            pointer-events: none;
        }
    }

    .output-group {
        .node-external-output-name {
            fill: var(--mat-sys-on-background);
            font-size: 20px;
            dominant-baseline: middle;
            &.node-external-output-constant {
                fill: var(--mat-sys-surface-tint);
                font-size: 17px;
                font-weight: 200;
            }
        }
    }

    .node-group {
        .node-heading,
        .node-container {
            @include unselected-style;
        }

        &.selected {
            .node-heading,
            .node-container {
                @include selected-style
            }
        }

        .node-heading-text {
            fill: var(--mat-sys-on-background);
            font-size: 20px;
            text-anchor: middle;
            dominant-baseline: middle;
        }
        .node-connection-name {
            fill: var(--mat-sys-on-background);
            font-size: 20px;
            dominant-baseline: middle;

            &.node-output-name {
                text-anchor: end;
            }
            &.node-input-name {
                text-anchor: start;
            }
            &.node-input-constant {
                fill: var(--mat-sys-surface-tint);
                font-size: 17px;
                font-weight: 200;
            }
        }
    }

    .connector {


        stroke: var(--connector-type-color, --mat-sys-on-background);
        fill: var(--house-mix-body-background);
        stroke-width: 1.5px;
        transition: stroke-width 0.25s ease-in-out, r 0.2s ease-in-out;
        r: var(--connector-radius);

        &.disabled {
            r: 2px;
            stroke-width: 4px;
        }

        &.unselectable {
            pointer-events: none;
        }

        &:hover {
            stroke-width: 4px;
            r: calc(var(--connector-radius) - 2);
        }

        &:active {
            stroke-width: var(--connector-radius);
            r: calc(var(--connector-radius) * 0.5);
        }
    }

    .connector-snap {

        stroke: none;
        fill: transparent;

        &.unselectable {
            pointer-events: none;
        }
    }

    .connector-non-null {
        fill: var(--connector-type-color, --mat-sys-on-background);
        pointer-events: none;
    }

    .connection-back {
        stroke: transparent;
        stroke-width: calc(var(--connection-width) * 3.5);
        stroke-linecap: round;
        transition: stroke 0.3s;
        fill: none;

        &:hover {
            stroke: var(--mat-sys-primary-container);

            + .connection {
                stroke-width: calc(var(--connection-width) * 1.2);
            }

            &.selected {
                stroke: transparent;

                + .connection {
                    stroke-width: calc(var(--connection-width) * 3.5);
                }
            }
        }
        &.selected {


            + .connection {
                stroke: var(--mat-sys-primary);
            }
        }
    }

    .connection {
        stroke: var(--mat-sys-on-background);
        fill: none;
        stroke-width: var(--connection-width);
        stroke-linecap: round;
        transition: stroke-width 0.25s ease-in-out, stroke 0.25s;
        pointer-events: none;
    }

    .add-node {
        @include unselected-style;

        cursor: pointer;

        &:hover,
        &:active {
            @include clickable-hover-style;
        }

        &:hover:active {
            @include clickable-active-style;
        }
    }

    .add-node-plus {
        stroke-width: 6px;
        stroke: var(--mat-sys-on-background);
        pointer-events: none;
    }

    .node-input-tag {
        pointer-events: none;
        transition: transform 0.5s ease-in-out;
    }

    .node-input-area + rect + rect.hidden {
        pointer-events: none;
    }

    .node-input-area + rect + rect,
    .node-input-area + rect {
        cursor: pointer;
    }

    .node-input-area:hover + rect + rect + .node-input-tag,
    .node-input-area + rect:hover + rect + .node-input-tag,
    .node-input-area + rect + rect:hover + .node-input-tag {
        transform: translateX(30px);
    }

    .node-input-area + rect + rect + .node-input-tag + .mat-icon-svg + .mat-icon-svg,
    .node-input-area + rect + rect + .node-input-tag + .mat-icon-svg {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        pointer-events: none;
    }

    .node-input-area:hover + rect + rect + .node-input-tag + .mat-icon-svg + .mat-icon-svg,
    .node-input-area + rect:hover + rect + .node-input-tag + .mat-icon-svg + .mat-icon-svg,
    .node-input-area + rect + rect:hover + .node-input-tag + .mat-icon-svg + .mat-icon-svg,
    .node-input-area:hover + rect + rect + .node-input-tag + .mat-icon-svg,
    .node-input-area + rect:hover + rect + .node-input-tag + .mat-icon-svg,
    .node-input-area + rect + rect:hover + .node-input-tag + .mat-icon-svg {
        opacity: 1;
        transition: opacity 0.3s 0.25s ease-in-out;
    }

    .node-input-area {
        fill: transparent;
    }

    .mat-icon-svg {
        //noinspection CssInvalidFunction
        transform: translate(var(--icon-pos-x, 0px), var(--icon-pos-y, 0px)) scale(calc(var(--icon-size, 24) / 960), calc(var(--icon-size, 24) / 960)) translate(-480px, 480px);
        fill: var(--mat-sys-on-background);
    }
}

.fab-add {
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    bottom: dimensions.$margin-xlarge;
    transition: scale 0.5s ease-in-out;
    transform-origin: left;

    &.hidden {
        scale: 0;
    }
}
