<h2 mat-dialog-title>Create new group</h2>
<mat-dialog-content>
    <mat-form-field class="example-full-width">
        <mat-label>Codename</mat-label>
        <input matInput placeholder=" " [formControl]="nameFormControl">
        <mat-hint>A unique codename for the group</mat-hint>
        @if (nameFormControl.hasError('required')) {
            <mat-error>A codename is required</mat-error>
        } @else if (nameFormControl.hasError('pattern')) {
            <mat-error>A codename can only have lowercase letters, numbers, dashes and underscores</mat-error>
        } @else if (nameFormControl.hasError('forbiddenName')) {
            <mat-error>This codename is already used by another group</mat-error>
        }
    </mat-form-field>
    <div style="height: 20px"></div>
    <mat-form-field class="example-full-width">
        <mat-label>Display name</mat-label>
        <input matInput [formControl]="displayNameFormControl">
        <mat-hint>A name displayed with the group</mat-hint>
        @if (!displayNameFormControl.valid) {
            <mat-error>A display name is required</mat-error>
        }
    </mat-form-field>
    @if (this.data.edit == null) {
        @if (formGroup.hasError('sonOfNoGroup')) {
            <mat-error>Either choose a parent or set the group as top-level</mat-error>
        }
        <mat-radio-group
            class="children-radio-button"
            [formControl]="topLevelFormControl">
                <div class="radio-button-list">
                    <mat-radio-button class="example-radio-button" [value]="true">Top-level group</mat-radio-button>
                    <mat-radio-button class="example-radio-button" [value]="false">Subgroup</mat-radio-button>
                </div>
        </mat-radio-group>
        @if (this.topLevelFormControl.value == false) {
            <mat-form-field>
                <mat-label>Parent group</mat-label>
                <mat-select
                    [formControl]="parentGroupFormControl">
                    @for (otherGroup of groups; track otherGroup.name) {
                        <mat-option [value]="otherGroup.name">{{ otherGroup.displayName }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        }
    }

</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button
            [mat-dialog-close]="null">
        Cancel
    </button>
    <button
        mat-button
        [mat-dialog-close]="createResult(result)"
        [disabled]="result == null">
        Create
    </button>
</mat-dialog-actions>
