<span
    class="display-name"
    matTooltipPosition="above"
    [matTooltipShowDelay]="TOOLTIP_TIMEOUT"
    [matTooltip]="`Codename: ${device.name}`">{{ device.displayName }}</span>
@if (isActuator(device)) {
    <house-mix-dynamic-svg
        class="preview"
        [class.selected]="selected"
        [src]="`/devices/actuators/icons/${ACTUATOR_TYPE_ICON[device.type]}`">
    </house-mix-dynamic-svg>
} @else if (isSensor(device)) {
    <house-mix-dynamic-svg
        class="preview"
        [class.selected]="selected"
        [src]="`/devices/sensors/icons/${SENSOR_TYPE_ICON[device.type]}`">
    </house-mix-dynamic-svg>
}
<div
    class="info">
    <span
        class="info-type">
        @if (isActuator(device)) {
            {{ ACTUATOR_TYPE_DISPLAY[device.type] }}
        } @else if (isSensor(device)) {
            {{ SENSOR_TYPE_DISPLAY[device.type] }}
        }
    </span>
    <mat-icon>list_alt</mat-icon>
    <span
        class="expose-number">
        <!--TODO: Check the fact that the number doesn't change correctly-->
        {{ device.exposes.length }}
    </span>
</div>
