<house-mix-toolbar
    [elements]="toolbarElements"
    (elementSelected)="toolbarClick(asToolbarAction($event))">

</house-mix-toolbar>
@switch (loadingStatus) {
    @case (LoadingStatus.LOADING) {
        <div
            class="welcome-content"
            (click)="selectedObject = null">
            <house-mix-dynamic-svg
                class="icon"
                [src]="randomIcon">
            </house-mix-dynamic-svg>
            <h2>Loading...</h2>
            <h3>Your groups and devices are loading, please wait</h3>
            <mat-spinner
                strokeWidth="4"
                diameter="70"></mat-spinner>
        </div>
    }
    @case (LoadingStatus.ERROR) {
        <div class="error-container">
            <house-mix-dynamic-svg
                class="icon"
                src="broken.svg">
            </house-mix-dynamic-svg>
            <h2>There's a problem...</h2>
            <h3>
                Sorry, there has been an error loading this mix.
                <span class="break"></span>
                Please try again later or go back.
            </h3>
            <button
                class="error-button"
                mat-button
                (click)="reload()">
                Try again
            </button>
        </div>
    }
    @case (LoadingStatus.LOADED) {
        @if (rootGroups.length > 0) {
            <div
                class="main-content"
                (click)="selectedObject = null">
                @if (treeView) {
                    <mat-tree
                        #tree
                        class="tree"
                        [dataSource]="dataSource"
                        [childrenAccessor]="treeChildrenAccessor">

                        <mat-nested-tree-node
                            class="group-node"
                            [class.selected]="node == selectedObject"
                            *matTreeNodeDef="let node; when: treeHasChildren"
                            matTreeNodeToggle
                            [cdkTreeNodeTypeaheadLabel]="node.name">

                            <div class="mat-tree-node"
                                 [class.node-title-expanded]="tree.isExpanded(node)">
                                @if (treeHasChildren(0, node)) {
                                    <button
                                        matIconButton
                                        matTreeNodeToggle
                                        [attr.aria-label]="'Toggle ' + node.name">
                                        <mat-icon>
                                            {{ tree.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
                                        </mat-icon>
                                    </button>
                                } @else {
                                    <span style="width: 40px; align-self: stretch" (click)="$event.stopPropagation()"></span>
                                }
                                <span
                                    class="node-name"
                                    (click)="selectedObject = node; (tree.isExpanded(node) || !treeHasChildren(0, node)) ? $event.stopPropagation() : null">
                                    {{ node.displayName }}
                                </span>
                            </div>

                            <div
                                role="group"
                                [class.tree-collapsed]="!tree.isExpanded(node) || !treeHasChildren(0, node)"
                                (click)="selectedObject = node; $event.stopPropagation()">
                                @if (node.actuators.length > 0) {
                                    <span class="tree-devices-title">Actuators</span>
                                    <div class="tree-devices">
                                        @for (actuatorName of node.actuators; track actuatorName) {
                                            @let actuator = getActuator(actuatorName);
                                            @if (actuator != null) {
                                                <house-mix-device
                                                    [compact]="true"
                                                    [device]="actuator"
                                                    [selected]="selectedObject == actuator"
                                                    (onSelect)="this.selectedObject = $event">

                                                </house-mix-device>
                                            } @else {
                                                <span class="simple-subgroup">{{ actuatorName }}</span>
                                            }
                                        }
                                    </div>
                                }
                                @if (node.sensors.length > 0) {
                                    <span class="tree-devices-title">Sensors</span>
                                    <div class="tree-devices">
                                        @for (actuatorName of node.actuators; track actuatorName) {
                                            @let actuator = getActuator(actuatorName);
                                            @if (actuator != null) {
                                                <house-mix-device
                                                    [compact]="true"
                                                    [device]="actuator"
                                                    [selected]="selectedObject == actuator"
                                                    (onSelect)="this.selectedObject = $event">

                                                </house-mix-device>
                                            } @else {
                                                <span class="simple-subgroup">{{ actuatorName }}</span>
                                            }
                                        }
                                    </div>
                                }
                                @if (node.groups.length > 0) {
                                    <span class="tree-devices-title">Groups</span>
                                    <ng-container matTreeNodeOutlet></ng-container>
                                }
                            </div>
                        </mat-nested-tree-node>
                    </mat-tree>
                } @else {
                    <div
                        class="groups-container">
                        @for (group of rootGroups; track group.name) {
                            <house-mix-group
                                [group]="group"
                                [otherGroups]="allGroups"
                                [actuators]="allActuators"
                                [sensors]="allSensors"
                                [selected]="this.selectedObject"
                                (onSelect)="this.selectedObject = $event">
                            </house-mix-group>
                        }
                    </div>
                }
            </div>
        } @else {
            <div
                class="welcome-content"
                (click)="selectedObject = null">
                <h2>Welcome!</h2>
                <h3>Here you'll find all your groups and devices
                    <span class="break"></span>
                    At the moment, there is nothing here.</h3>
                <p>If you want to add something new, choose what you want to add:</p>
                <div class="welcome-choices">
                    <div
                        (click)="this.toolbarClick(ToolbarAction.ADD_SENSOR)">
                        <house-mix-dynamic-svg
                            src="/devices/sensors/sensor.svg">

                        </house-mix-dynamic-svg>
                        <h2>Sensor</h2>
                    </div>
                    <div
                        (click)="this.toolbarClick(ToolbarAction.ADD_GROUP)">
                        <house-mix-dynamic-svg
                            src="/mixing/group.svg">
                        </house-mix-dynamic-svg>
                        <h2>Group</h2>
                    </div>
                    <div
                        (click)="this.toolbarClick(ToolbarAction.ADD_ACTUATOR)">
                        <house-mix-dynamic-svg
                            src="/devices/actuators/actuator.svg">
                        </house-mix-dynamic-svg>
                        <h2>Actuator</h2>
                    </div>
                </div>
            </div>
        }

        @if (rootActuators.length + rootSensors.length > 0 && !this.treeView) {
            <div
                class="device-container"
                (click)="selectedObject = null">
            <span
                class="device-title">
                Devices without a group
            </span>
                <div
                    class="device-list">
                    @if (rootActuators.length > 0) {
                        <mat-icon>lightbulb</mat-icon>
                        @for (actuator of rootActuators; track actuator.name) {
                            <house-mix-device
                                [device]="actuator"
                                [selected]="selectedObject == actuator"
                                (onSelect)="this.selectedObject = $event">
                            </house-mix-device>
                        }
                    }
                    @if (rootSensors.length > 0) {
                        <mat-icon>detector</mat-icon>
                        @for (sensor of rootSensors; track sensor.name) {
                            <house-mix-device
                                [device]="sensor"
                                [selected]="selectedObject == sensor"
                                (onSelect)="this.selectedObject = $event">
                            </house-mix-device>
                        }
                    }
                </div>
            </div>
        }

    }
}
