@use "dimensions";
@use "colors";

:host {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-grow: 1;
}

.groups-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
    flex-basis: 0;
    gap: dimensions.$margin-large;
}

.main-content {
    flex-grow: 1;
    flex-basis: 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: dimensions.$margin-large;
    padding: dimensions.$margin-large;
}

.device-title {
    padding: dimensions.$margin-xlarge;
    font-size: 20px;
    font-weight: 200;
}

.device-list {
    display: flex;
    overflow-x: auto;
    padding: dimensions.$margin-large;
    gap: dimensions.$margin-large;
    align-items: stretch;
    mat-icon {
        align-self: center;
    }
}
