@use "dimensions";

:host {
    display: flex;
    flex-direction: column;
    &.horizontal {
        flex-direction: row;
        gap: dimensions.$margin-medium;

        >mat-form-field {
            flex-grow: 1;
        }
    }
}

mat-form-field + div {
    margin-top: dimensions.$indent-msmall;
}
