<house-mix-toolbar
    [elements]="toolbarElements"
    [keyObservable]="keySubject.asObservable()"
    (elementSelected)="toolbarClick(asToolbarAction($event))">

</house-mix-toolbar>
<div
    class="main-content"
    tabindex="0"
    (click)="this.selected = null">
    <div class="section-title">
        <span>
            System parameters
        </span>
        <button
            mat-icon-button
            matTooltip="Add a parameter"
            matTooltipPosition="above"
            [matTooltipShowDelay]="TOOLTIP_TIMEOUT"
            (click)="addParameter()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <div
        class="section-content"
        [class.fixed-height]="parametersLoadingStatus != LoadingStatus.LOADED || this.parameters.length == 0">
        @if (this.parametersLoadingStatus == LoadingStatus.LOADED) {
            @if (this.parameters.length > 0) {
                @for (parameter of this.parameters; track parameter.name) {
                    <house-mix-parameter
                        [parameter]="parameter"
                        [selected]="this.selected == parameter"
                        (click)="this.selected = parameter; $event.stopPropagation()"
                        (dblclick)="this.toolbarClick(ToolbarAction.CHANGE_PARAMETER_VALUE)">

                    </house-mix-parameter>
                }
            } @else {
                <span class="no-items">No parameter has been defined yet</span>
            }
        } @else {
            <house-mix-loading-scrim
                [loadingStatus]="parametersLoadingStatus"
                (reload)="loadParameters()">

            </house-mix-loading-scrim>
        }
    </div>
    <div class="section-title">
        <span>
            Timers
        </span>
        <button
            mat-icon-button
            matTooltip="Add a timer"
            matTooltipPosition="above"
            [matTooltipShowDelay]="TOOLTIP_TIMEOUT"
            (click)="addTimer()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <div
        class="section-content"
        [class.fixed-height]="timersLoadingStatus != LoadingStatus.LOADED || this.timers.length == 0">
        @if (this.timersLoadingStatus == LoadingStatus.LOADED) {
            @if (this.timers.length > 0) {
                @for (timer of this.timers; track timer.name) {
                    <house-mix-timer
                        [timer]="timer"
                        [selected]="this.selected == timer"
                        (click)="this.selected = timer; $event.stopPropagation()"
                        (dblclick)="this.toolbarClick(ToolbarAction.EDIT)">

                    </house-mix-timer>
                }
            } @else {
                <span class="no-items">No timer has been defined yet</span>
            }
        } @else {
            <house-mix-loading-scrim
                [loadingStatus]="timersLoadingStatus"
                (reload)="loadTimers()">

            </house-mix-loading-scrim>
        }
    </div>
    <div class="section-title">
        <span>
            Device monitor
        </span>
        <button
                mat-icon-button
                matTooltip="Monitor a new device"
                matTooltipPosition="above"
                [matTooltipShowDelay]="TOOLTIP_TIMEOUT"
                (click)="addDevice()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <div
            class="section-content"
            [class.fixed-height]="devicesLoadingStatus != LoadingStatus.LOADED || this.devices.length == 0">
        @if (this.devicesLoadingStatus == LoadingStatus.LOADED) {
            @if (this.devices.length > 0) {
                @for (device of this.devices; track device.name) {
                    <house-mix-device-monitor-device
                            [device]="device"
                            [selected]="this.selected == device"
                            (click)="this.selected = device; $event.stopPropagation()"
                            (dblclick)="this.toolbarClick(ToolbarAction.EDIT)">

                    </house-mix-device-monitor-device>
                }
            } @else {
                <span class="no-items">There is currently no device being monitored</span>
            }
        } @else {
            <house-mix-loading-scrim
                [loadingStatus]="devicesLoadingStatus"
                (reload)="loadDeviceMonitors()">

            </house-mix-loading-scrim>
        }
    </div>
    <div class="section-title">
        <span>
            Adjustments
        </span>
        <button
            mat-icon-button
            matTooltip="Monitor a new device"
            matTooltipPosition="above"
            [matTooltipShowDelay]="TOOLTIP_TIMEOUT"
            (click)="addAdjustment()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <div
        class="section-content"
        [class.fixed-height]="adjustmentsLoadingStatus != LoadingStatus.LOADED || this.adjustments.length == 0">
        @if (this.adjustmentsLoadingStatus == LoadingStatus.LOADED) {
            @if (this.adjustments.length > 0) {
                @for (adjustment of this.adjustments; track adjustment) {
                    <house-mix-adjustment
                        [adjustment]="adjustment"
                        [selected]="this.selected == adjustment"
                        (click)="this.selected = adjustment; $event.stopPropagation()"
                        (dblclick)="this.toolbarClick(ToolbarAction.EDIT)">

                    </house-mix-adjustment>
                }
            } @else {
                <span class="no-items">There is currently no adjustment applied to the system</span>
            }
        } @else {
            <house-mix-loading-scrim
                [loadingStatus]="adjustmentsLoadingStatus"
                (reload)="loadAdjustments()">

            </house-mix-loading-scrim>
        }
    </div>
</div>
