@use "dimensions";
@use "colors";

mat-form-field {
    min-width: min(100%, 300px);
}

mat-radio-group {
    padding: dimensions.$indent-medium 0;
}

.radio-button-list {
    display: flex;
    flex-direction: column;
}

.confirm {
    @include colors.error-button;
}

mat-dialog-content {
    min-height: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    house-mix-loading-scrim {
        padding: 0 20px;
        box-sizing: border-box;
    }
}

.dependency-error,
.move-error {
    display: flex;
    flex-direction: column;
    gap: dimensions.$margin-msmall;
    align-items: stretch;
    padding: dimensions.$indent-msmall dimensions.$indent-mlarge dimensions.$indent-mlarge;

    .dependency {
        padding: 0 dimensions.$margin-mlarge;
        display: flex;
        align-items: center;
        gap: dimensions.$margin-msmall;
        font-weight: 100;

        mat-icon {
            font-size: 16px;
            width: 16px;
            height: 16px;
            color: var(--mat-sys-error)
        }
    }
}


.move-error {
    padding: dimensions.$margin-small dimensions.$indent-mlarge dimensions.$margin-msmall;
}

.option-content {

    display: flex;
    gap: dimensions.$margin-msmall;
    align-items: center;

    > span {
        flex-grow: 1;
    }

    > mat-icon {
        display: none;
        color: var(--mat-sys-error);
        font-size: 16px;
        width: 16px;
        height: 16px;
    }

    &.problem {
        > span {
            color: var(--house-mix-text-color-40);
        }

        > mat-icon {
            display: block;
        }
    }
}
