@use "dimensions";
@use "colors";
@use "../../../entities/entity";
@use "../connectors";

.list {
    display: flex;
    gap: dimensions.$margin-xxlarge;
    flex-direction: column;

    @include colors.datum-type-colors();
}
