<h2 mat-dialog-title>Select a node type to add</h2>
<mat-dialog-content>
    <mat-accordion>
        @for (section of ELABORATION_NODE_LIBRARY; track section.sectionName) {
            <mat-expansion-panel
                style="margin: 0">
                <mat-expansion-panel-header>
                    <mat-panel-title>{{ section.sectionName }}</mat-panel-title>
                </mat-expansion-panel-header>
                <div class="list">
                    @for (item of section.nodes; track item.code) {
                        <house-mix-node
                            [library-item]="item"
                            [selected]="result == item"
                            [examples]="examples"
                            (onSelected)="result = item">
                        </house-mix-node>
                    }
                </div>
            </mat-expansion-panel>
        }
    </mat-accordion>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button
            (click)="closeDialog()">Cancel
    </button>
    <button mat-button (click)="confirm()" [disabled]="result == null">Select</button>

</mat-dialog-actions>
