@use "dimensions";
@use "colors";
@use "../../../entities/entity";
@use "../connectors";

.node-preview {
    @include entity.container;

    .node-preview-title {
        @include entity.name(true, false);
        text-align: center;
    }

    .node-preview-description {
        opacity: 0.9;
        font-size: 15px;
        font-weight: 200;
        color: var(--mat-sys-on-background);
        text-align: center;
        align-self: center;
        margin-top: dimensions.$margin-medium;
        padding: 0 dimensions.$margin-medium;
    }

    mat-checkbox {
        margin: dimensions.$margin-medium dimensions.$margin-xxlarge
    }

    .node-preview-exposed-container {
        align-self: stretch;
        display: flex;
        align-items: center;
        margin-bottom: dimensions.$margin-mlarge;

        .node-preview-exposed-side {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            flex-basis: 0;

            .input-group,
            .output-group {

                display: flex;
                flex-direction: column;
                padding: dimensions.$margin-medium 0 dimensions.$margin-medium dimensions.$indent-medium;

                &.output-group {
                    margin-right: 10px;
                }

                &.input-group {
                    margin-left: 10px;
                }

                position: relative;

                @include connectors.connector;

                .input-name,
                .output-name {
                    font-weight: 300;
                    font-size: 18px;
                }

                .output-name {
                    text-align: end;
                }

                .input-type,
                .output-type {
                    font-weight: 200;
                    font-size: 15px;
                }

                .output-type {
                    text-align: end;
                }
            }
        }
    }

    .node-preview-exposed-container-collapsed {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        column-gap: dimensions.$margin-mlarge;
        row-gap: dimensions.$margin-small;
        padding: dimensions.$margin-mlarge;

        .title {
            font-weight: 300;
            font-size: 16px;
        }

        .exposed-collapsed {
            font-weight: 100;
            font-size: 15px;
            display: flex;
            align-items: center;

            .connector-circle-small {
                width: 10px;
                height: 10px;
                border-radius: 10px;
                display: block;
                border: solid 2px var(--type-color, --mat-sys-on-background);
                margin-right: dimensions.$margin-msmall;
                position: relative;

                &:after {
                    content: " ";
                    position: absolute;
                    width: 4px;
                    height: 4px;
                    left: 3px;
                    top: 3px;
                    background-color: var(--type-color, --mat-sys-on-background);
                    border-radius: 3px;
                }

                &.nullable:after {
                    background-color: transparent;
                }
            }
        }
    }
}

.type-circle {
    @include colors.datum-type-colors();

    width: 14px;
    height: 14px;
    border-radius: 20px;
    border: 2px solid var(--type-color, var(--mat-sys-on-background));

    &.selected {
        background: var(--type-color, var(--mat-sys-on-background));
    }
}

.type-container {
    display: flex;
    align-items: center;
    gap: dimensions.$margin-mlarge;
}

.null-guard-input {
    margin: dimensions.$margin-medium dimensions.$indent-msmall -10px;
}
