<h2 mat-dialog-title>Create a new mix</h2>
<mat-dialog-content>
    <div class="phase-selection">
        <div
            class="first-half-container"
            [class.selected]="selectedPhase == MixPhase.SENSORS"
            (click)="selectedPhase = MixPhase.SENSORS">
            <house-mix-dynamic-svg
                class="sensor-icon"
                src="devices/sensors/sensor.svg">
            </house-mix-dynamic-svg>
            <svg class="arrow" viewBox="0 0 50 30">
                <path class="arrow-path" d="M5 15h39 m-9-10l10 10l-10 10"></path>
            </svg>
        </div>
        <div
            class="center-container selected"
            [class.selected-left]="selectedPhase != MixPhase.ACTUATORS"
            [class.selected-right]="selectedPhase != MixPhase.SENSORS"
            (click)="selectedPhase = MixPhase.CENTER">
            <house-mix-dynamic-svg
                class="sensor-icon"
                src="mixing/center.svg">
            </house-mix-dynamic-svg>
        </div>
        <div
            class="second-half-container"
            [class.selected]="selectedPhase == MixPhase.ACTUATORS"
            (click)="selectedPhase = MixPhase.ACTUATORS">
            <svg class="arrow" viewBox="0 0 50 30">
                <path class="arrow-path" d="M5 15h39 m-9-10l10 10l-10 10"></path>
            </svg>
            <house-mix-dynamic-svg
                class="sensor-icon"
                src="devices/actuators/actuator.svg">
            </house-mix-dynamic-svg>
        </div>
    </div>
    <p class="phase-description">
        @switch (selectedPhase) {
            @case (MixPhase.SENSORS) {
                Create a mix between the sensors and the center, to process sensor data
            }
            @case (MixPhase.CENTER) {
                Create a mix in the center
            }
            @case (MixPhase.ACTUATORS) {
                Create a mix between the center and the actuator, to generate data for the actuators
            }
        }
    </p>
    @if (selectedPhase != MixPhase.CENTER) {
        <div class="entity-selection">
            <div class="box"
                 [class.disabled]="selectedPhase != MixPhase.SENSORS"
                 [class.selected]="selectedPhase == MixPhase.SENSORS && selectedTarget == MixTarget.DEVICE"
                 (click)="selectedTarget = MixTarget.DEVICE">
                <house-mix-dynamic-svg
                    class="sensor-icon"
                    src="devices/sensors/sensor.svg">
                </house-mix-dynamic-svg>
            </div>
            <div class="box"
                 [class.selected]="selectedTarget == MixTarget.GROUP"
                 (click)="selectedTarget = MixTarget.GROUP">
                <house-mix-dynamic-svg
                    class="sensor-icon"
                    src="mixing/group.svg">
                </house-mix-dynamic-svg>
            </div>
            <div class="box"
                 [class.disabled]="selectedPhase != MixPhase.ACTUATORS"
                 [class.selected]="selectedPhase == MixPhase.ACTUATORS && selectedTarget == MixTarget.DEVICE"
                 (click)="selectedTarget = MixTarget.DEVICE">
                <house-mix-dynamic-svg
                    class="sensor-icon"
                    src="devices/actuators/actuator.svg">
                </house-mix-dynamic-svg>
            </div>
        </div>
        @let showSensors = selectedTarget == MixTarget.DEVICE && selectedPhase == MixPhase.SENSORS;
        @let showActuators = selectedTarget == MixTarget.DEVICE && selectedPhase == MixPhase.ACTUATORS;
        <span class="choice-description">
            @if (showActuators) {
                Available actuators
            } @else if (showSensors) {
                Available sensors
            } @else {
                Available groups
            }
        </span>
        <div class="choice-list">
            @if (showActuators) {
                @if (actuatorsLoadingStatus != LoadingStatus.LOADED) {
                    <house-mix-loading-scrim
                        [loadingStatus]="actuatorsLoadingStatus"
                        (loadingSet)="loadActuators()"
                        (reload)="loadActuators(true)">
                    </house-mix-loading-scrim>
                } @else if (actuators == null || actuators.length == 0) {
                    <span>No actuators available. This may be because there are no actuators in the system,<br>or because all the actuators already have a mix assigned to them</span>
                } @else {
                    @for (actuator of actuators; track actuator.name) {
                        <div
                            class="device-display"
                            [class.selected]="selectedElement == actuator"
                            (click)="selectedElement = actuator">
                            <house-mix-dynamic-svg
                                class="device-icon"
                                [src]="`/devices/actuators/icons/${ACTUATOR_TYPE_ICON[actuator.type]}`">
                            </house-mix-dynamic-svg>
                            <div class="device-info">
                                <span
                                    class="name"
                                    matTooltipPosition="above"
                                    [matTooltipShowDelay]="TOOLTIP_TIMEOUT"
                                    [matTooltip]="`Codename: ${actuator.name}`">{{ actuator.displayName }}</span>
                                <span
                                    class="type">{{ ACTUATOR_TYPE_DISPLAY[actuator.type] }}</span>
                            </div>
                        </div>
                    }
                }
            } @else if (showSensors) {
                @if (sensorsLoadingStatus != LoadingStatus.LOADED) {
                    <house-mix-loading-scrim
                        [loadingStatus]="sensorsLoadingStatus"
                        (loadingSet)="loadSensors()"
                        (reload)="loadSensors(true)">
                    </house-mix-loading-scrim>
                } @else if (sensors == null || sensors.length == 0) {
                    <span>No sensors available. This may be because there are no sensors in the system,<br>or because all the sensors already have a mix assigned to them</span>
                } @else {
                    @for (sensor of sensors; track sensor.name) {
                        <div
                            class="device-display"
                            [class.selected]="selectedElement == sensor"
                            (click)="selectedElement = sensor">
                            <house-mix-dynamic-svg
                                class="device-icon"
                                [src]="`/devices/sensors/icons/${SENSOR_TYPE_ICON[sensor.type]}`">
                            </house-mix-dynamic-svg>
                            <div class="device-info">
                                <span
                                    class="name"
                                    matTooltipPosition="above"
                                    [matTooltipShowDelay]="TOOLTIP_TIMEOUT"
                                    [matTooltip]="`Codename: ${sensor.name}`">{{ sensor.displayName }}</span>
                                <span
                                    class="type">{{ SENSOR_TYPE_DISPLAY[sensor.type] }}</span>
                            </div>
                        </div>
                    }
                }
            } @else if (selectedPhase == MixPhase.SENSORS) {
                @if (leftGroupsLoadingStatus != LoadingStatus.LOADED) {
                    <house-mix-loading-scrim
                        [loadingStatus]="leftGroupsLoadingStatus"
                        (loadingSet)="loadGroups(true)"
                        (reload)="loadGroups(true, true)">
                    </house-mix-loading-scrim>
                } @else if (leftGroups == null || leftGroups.length == 0) {
                    <span>No groups available. This may be because there are no groups in the system,<br>or because all the groups already have a mix assigned to them for the sensor's phase</span>
                } @else {
                    @for (group of leftGroups; track group.name) {
                        <div
                            class="device-display group"
                            [class.selected]="selectedElement == group"
                            (click)="selectedElement = group">
                            <house-mix-dynamic-svg
                                class="device-icon"
                                [src]="`/mixing/group.svg`">
                            </house-mix-dynamic-svg>
                            <div class="device-info">
                                <span
                                    class="name"
                                    matTooltipPosition="above"
                                    [matTooltipShowDelay]="TOOLTIP_TIMEOUT"
                                    [matTooltip]="`Codename: ${group.name}`">{{ group.displayName }}</span>
                            </div>
                        </div>
                    }
                }
            } @else if (selectedPhase == MixPhase.ACTUATORS) {
                @if (rightGroupsLoadingStatus != LoadingStatus.LOADED) {
                    <house-mix-loading-scrim
                        [loadingStatus]="rightGroupsLoadingStatus"
                        (loadingSet)="loadGroups(false)"
                        (reload)="loadGroups(false, true)">
                    </house-mix-loading-scrim>
                } @else if (rightGroups == null || rightGroups.length == 0) {
                    <span>No groups available. This may be because there are no groups in the system,<br>or because all the groups already have a mix assigned to them for the actuator's phase</span>
                } @else {
                    @for (group of rightGroups; track group.name) {
                        <div
                            class="device-display group"
                            [class.selected]="selectedElement == group"
                            (click)="selectedElement = group">
                            <house-mix-dynamic-svg
                                class="device-icon"
                                [src]="`/mixing/group.svg`">
                            </house-mix-dynamic-svg>
                            <div class="device-info">
                                <span
                                    class="name"
                                    matTooltipPosition="above"
                                    [matTooltipShowDelay]="TOOLTIP_TIMEOUT"
                                    [matTooltip]="`Codename: ${group.name}`">{{ group.displayName }}</span>
                            </div>
                        </div>
                    }
                }
            }
        </div>
    } @else {
        @if (mixNamesLoadingStatus != LoadingStatus.LOADED) {
            <div class="loading-container">
                <house-mix-loading-scrim
                    [loadingStatus]="mixNamesLoadingStatus"
                    (loadingSet)="loadMixNames()"
                    (reload)="loadMixNames(true)">
                </house-mix-loading-scrim>
            </div>
        } @else {
            <house-mix-entity-names-inputs
                [forbiddenNames]="mixNames ?? []"
                [horizontal]="true">
            </house-mix-entity-names-inputs>
        }
    }
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button
            (click)="closeDialog()">
        Cancel
    </button>
    <button
        mat-button
        [disabled]="result == null"
        (click)="confirm()">Create
    </button>
</mat-dialog-actions>
