@use "dimensions";

:host {
    display: flex;
    flex-direction: column;
}

mat-radio-group {
    padding: dimensions.$indent-medium 0;
}

.radio-button-list {
    display: flex;
    flex-direction: column;
}
