@use "dimensions";
@use "colors";
@use "../../../entities/entity";
@use "../connectors";

:host {
    @include colors.datum-type-colors();
}

.search-results {
    display: flex;
    gap: dimensions.$indent-mlarge;
    padding: dimensions.$margin-msmall;
    overflow-x: auto;
    overflow-y: hidden;
    align-items: center;
    flex-shrink: 0;

    &:focus-visible,
    &:focus {
        outline: none;
        border: none;
    }

    .input-preview {
        flex-shrink: 0;
        max-width: 150px;
        white-space: normal;
    }
}

.option-list {
    display: flex;
    flex-wrap: wrap;
    gap: dimensions.$indent-mlarge;
    padding: dimensions.$margin-msmall;
    justify-content: space-around;

}


.input-preview {
    @include entity.container;
    cursor: pointer;

    .origin-name {
        @include entity.name(false, true);

        align-self: end;
        margin-left: dimensions.$indent-medium;
        text-align: end;
        font-weight: 100;
        font-size: 14px;
        padding: dimensions.$margin-medium dimensions.$margin-mlarge;

    }

    .input-group {

        display: flex;
        flex-direction: column;
        padding: dimensions.$margin-medium 0 dimensions.$margin-medium dimensions.$indent-medium;
        margin-right: 10px;
        position: relative;

        @include connectors.connector;

        .input-name {
            font-weight: 300;
            font-size: 18px;
            text-align: end;
        }

        .input-type {
            font-weight: 200;
            font-size: 15px;
            text-align: end;
        }
    }
}
