<h2 mat-dialog-title>Select an input</h2>
<mat-dialog-content>
    <mat-accordion>
        @for (origin of Object.values(DatumOrigin); track origin) {
            @let inputs = getInputsFromOrigin(origin);
            @if (inputs.length > 0) {
                <mat-expansion-panel
                    style="margin: 0">
                    <mat-expansion-panel-header>
                        <mat-panel-title>{{ DATUM_ORIGIN_DISPLAY[origin] }}</mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="option-list">
                        @for (input of inputs; track input.uniqueName) {
                            <div
                                class="input-preview"
                                [class.selected]="selectedInput == input"
                                matTooltipPosition="above"
                                [matTooltipShowDelay]="TOOLTIP_TIMEOUT"
                                [matTooltip]="input.name == input.displayName ? null : `Codename: ${input.name}`"
                                (click)="this.selectedInput = input">
                                <span class="origin-name">
                                    {{ getExternalDatumOriginDisplay(input)}}
                                </span>
                                <div
                                    class="input-group">
                                    <span class="connector-output-circle"
                                          [style.--type-color]="getColorVarNameForType(input.type)"></span>
                                    @if (!input.nullable) {
                                        <span class="connector-output-circle-non-null"
                                              [style.--type-color]="getColorVarNameForType(input.type)"></span>
                                    }
                                    <span class="input-name">{{ input.displayName ?? input.name }}</span>
                                    <span class="input-type">{{ DATUM_TYPE_DISPLAY[input.type] }}</span>
                                    @if (input.nullable) {
                                        <span class="input-type">Nullable</span>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </mat-expansion-panel>

            }
        }
    </mat-accordion>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button
            (click)="closeDialog()">
        Cancel
    </button>
    <button mat-button
            (click)="closeDialog(selectedInput)" [disabled]="selectedInput == null">
        Select
    </button>
</mat-dialog-actions>
