@use "dimensions";

.option-list {
    display: flex;
    flex-direction: column;
    gap: dimensions.$margin-medium;
    padding: dimensions.$margin-msmall;
}

.export-option {
    padding: dimensions.$margin-medium;
    cursor: pointer;
    border-radius: 4px;

    &.selected {
        outline: solid var(--mat-sys-primary) 1px;
    }
}
