@use "dimensions";
@use "colors";

@mixin container() {

    --house-mix-entity-border-color: #{colors.$border-color};

    --highlight-color: var(--house-mix-text-color-30);
    --stroke-color-animation-duration: var(--house-mix-entity-animation-speed, 0.2s);

    border-radius: 5px;
    display: flex;
    flex-direction: column;
    transition: outline-width var(--house-mix-entity-animation-speed, 0.2s) ease-in-out, outline-color var(--house-mix-entity-animation-speed, 0.2s) ease-in-out, outline-offset var(--house-mix-entity-animation-speed, 0.2s) ease-in-out;
    outline: solid 1px var(--house-mix-entity-border-color);
    background: var(--house-mix-background-color);

    &.selected {
        --highlight-color: var(--mat-sys-primary);
        --house-mix-entity-border-color: var(--house-mix-entity-selected-color, var(--mat-sys-primary));
        outline-width: 3px;
        outline-offset: -1.5px;
    }

}


@mixin name($full-width: false, $right-align: false) {
    font-size: 20px;
    font-weight: 300;
    padding: dimensions.$margin-mlarge;
    border-bottom: solid 1px var(--house-mix-entity-border-color);
    @if($full-width == false) {
        @if ($right-align == false) {
            border-right: solid 1px var(--house-mix-entity-border-color);
            border-bottom-right-radius: 3px;
            align-self: start;
        } @else {
            border-left: solid 1px var(--house-mix-entity-border-color);
            border-bottom-left-radius: 3px;
            align-self: end;
        }
    } @else {
        align-self: stretch;
    }
    transition: border-bottom-color var(--house-mix-entity-animation-speed, 0.2s) ease-in-out, border-right-color var(--house-mix-entity-animation-speed, 0.2s) ease-in-out, border-top-color var(--house-mix-entity-animation-speed, 0.2s) ease-in-out, border-left-color var(--house-mix-entity-animation-speed, 0.2s) ease-in-out;
}
